Coding/build/.vs
Coding/build/.vs/nurbsSurface/v16/.suo
Coding/build/.vs/nurbsSurface/v16/Browse.VC.db
Coding/build/.vs/nurbsSurface/v16/Browse.VC.db-shm
Coding/build/.vs/nurbsSurface/v16/ipch/AutoPCH/cbd2c928223ee63d/SURFACERENDER.ipch
Coding/build/.vs/nurbsSurface/v16/ipch/AutoPCH/dd3556b64c0c7cfd/TEST_BSPLINESURFACE.ipch
Coding/build/.vs/nurbsSurface/v16/ipch/AutoPCH/ecb20aae8e9e3372/BSPLINESURFACE.ipch
Coding/build/.vs/nurbsSurface/v16/ipch/AutoPCH/ee091997a6baa382/UTILITY.ipch
Coding/build/.vs/nurbsSurface/v16/Solution.VC.db
Coding/build/.vs/nurbsSurface/v16/Solution.VC.db-shm
Coding/build/.vs/nurbsSurface/v16/Solution.VC.db-wal
Coding/build/Debug/nurbsSurface.exe
Coding/build/Debug/nurbsSurface.ilk
Coding/build/Debug/nurbsSurface.pdb
Coding/build/nurbsSurface.dir/Debug/BsplineSurface.obj
Coding/build/nurbsSurface.dir/Debug/Camera.obj
Coding/build/nurbsSurface.dir/Debug/nurbsSurface.log
Coding/build/nurbsSurface.dir/Debug/nurbsSurface.tlog/CL.command.1.tlog
Coding/build/nurbsSurface.dir/Debug/nurbsSurface.tlog/CL.read.1.tlog
Coding/build/nurbsSurface.dir/Debug/nurbsSurface.tlog/CL.write.1.tlog
Coding/build/nurbsSurface.dir/Debug/SurfaceRender.obj
Coding/build/nurbsSurface.dir/Debug/test_bSplineSurface.obj
Coding/build/nurbsSurface.dir/Debug/vc142.pdb
